*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1080px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-align: center;
    background-color: dodgerblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
  }

  h1 {
    font-weight: 900;
  }

  p {
    margin-bottom: 20px;
  }

  #ticket-cost{
    font-size: 25px;
    font-weight: 900;
  }

  #km-request{
    color: black;
  }
